.to-pnt {
    font-size: 24px;
    border-radius: 100%;
    color: #fff;
    background-color: transparent;
    border: none;
}

.to-pnt:hover {
    background-color: rgb(92, 92, 92);
}

.to-pnt:active {
    background-color: transparent;
}

.save-pnt {
    font-size: 24px;
    color: #fff;
    border-radius: 100%;
    background-color: transparent;
    border: none;
}

.save-pnt:hover {
    background-color: rgb(92, 92, 92);
}

.save-pnt:active {
    background-color: transparent;
}
