.to-pnt {
    font-size: 24px;
    border-radius: 100%;
    color: #fff;
    background-color: transparent;
    border: none;
}

.to-pnt:hover {
    background-color: rgb(92, 92, 92);
}

.to-pnt:active {
    background-color: transparent;
}

.save-pnt {
    font-size: 24px;
    color: #fff;
    border-radius: 4px;
    background-color: transparent;
    border: none;
}

.save-pnt:hover {
    background-color: rgb(92, 92, 92);
}

.save-pnt:active {
    background-color: transparent;
}

.skip {
    width: 15px;
    padding: 10px;
}

.plus {
    width: 15px;
    padding: 10px;
}
.skip-point {
    width: 16px;
    padding: 10px;
}

.to-beginning {
    width: 30px;
    padding: 10px;
}

.btn:hover {
    background-color: rgb(70, 70, 70);
    border-radius: 4px;
}

#loop-img {
    padding: 10px;
    width: 15px;
    background-color: transparent;
}

#loop-img:hover {
    background-color: rgb(70, 70, 70);
    border-radius: 4px;
}