.to-pnt {
    font-size: 24px;
    border-radius: 100%;
    color: #fff;
    background-color: transparent;
    border: none;
}

.to-pnt:hover {
    background-color: rgb(92, 92, 92);
}

.to-pnt:active {
    background-color: transparent;
}

.save-pnt {
    font-size: 24px;
    color: #fff;
    border-radius: 4px;
    background-color: transparent;
    border: none;
}

.save-pnt:hover {
    background-color: rgb(92, 92, 92);
}

.save-pnt:active {
    background-color: transparent;
}

.skip {
    width: 15px;
    padding: 15px;
}

.plus {
    width: 15px;
    padding: 15px;
}
.skip-point {
    width: 16px;
    padding: 15px;
}

.to-beginning {
    width: 30px;
    padding: 15px;
}

.btn:hover {
    background-color: rgb(70, 70, 70);
    border-radius: 4px;
}
.btn:active {
    background-color: rgb(48, 48, 48);
}

.loop-img {
    padding: 15px;
    margin-right: 20px;
    width: 18px;
    background-color: transparent;
}

.looping {
    background-color: rgb(60, 60, 60);
    border-radius: 4px;
}

.next {
    margin-right: 10px;
}