
.footer p,
.footer-title {
    display: inline-flex;
    font-size: 11px;
}


#credit {
    float: left;
    padding-left: 5%;
}

#info {
    float: right;
    padding-right: 5%;
}

.footer-title p:hover {
    color: grey;
}

#info .footer-title:hover .controls-layer {
    visibility: visible;
    opacity: 100;
}

.row {
    padding: 4px;
    text-align: left;
}

.controls-layer {
    font-size: 14px;
    visibility: hidden;
    width: 320px;
    background-color: #272727;
    color: #fff;
    border-radius: 8px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    right: 5%;
    bottom: 10%;
    opacity: 0;
    transition: all ease .5s; 
}

.key-letter {
    display: inline-block;
    text-align: center;
    width: 18px;
    border: solid;
    border-width: 1px;
    border-radius: 3px;
    margin: 3px;
}