.point {
    height: 10px;
    width: 10px;
    position: fixed;
    top: 13.2%;

    z-index: 1;
}

.tooltip {
    visibility: hidden;
    width: 50px;
    background-color: #414141;
    color: #fff;
    border-radius: 8px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 10%;
    margin: 0px 0px 0px -20px;
    opacity: 0;
    transition: all ease 1s; 
}

.tooltip button {
    background-color: transparent;
    color: white;
    border: none;
}

.tooltip button:hover {
    background-color: #5f5f5f;
    border-radius: 4px;
}

.tooltip button:active {
    color: rgb(204, 204, 204);
}

.point:hover .tooltip {
    visibility: visible;
    opacity: 1;
}