.point {
    color: rgb(199, 198, 255);
    height: 10px;
    width: 10px;
    position: fixed;
    top: 559px;

    z-index: 1;
}

@media screen and (max-width: 600px) {
    .point {
        top: 58.5%;
    }
}

.tooltip {
    visibility: hidden;
    width: 80px;
    background-color: #272727;
    color: #fff;
    border-radius: 8px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 10%;
    margin: 0px 0px 0px -40px;
    opacity: 0;
    transition: all ease 1s; 
}

.tooltip.timestamp {
    padding-bottom: 10px;
}

.tooltip button {
    background-color: transparent;
    color: white;
    border: none;
}

.tooltip button:hover {
    background-color: #5f5f5f;
    border-radius: 4px;
}

.tooltip button:active {
    color: rgb(204, 204, 204);
}

.point:hover .tooltip {
    visibility: visible;
    opacity: 1;
}