.track-info { 
    display: flex;
    text-align: justify;
    padding-left: 5%;
}

.album-img {
    width: 150px;
}

@media screen and (max-width: 600px) {
    .album-img {
        width: 100px;
        height: 100px;
    }
  }

.text {
    padding-left: 10px;
}

p {
    font-size: 14px;
}
