.track-info { 
    display: flex;
    text-align: justify;
    padding-left: 5%;
}

.album-img {
    width: 300px;
    height: 300px;
    padding-bottom: 50px;
}

.text {
    padding-left: 30px;
    padding-top: 238px;
}

@media screen and (max-width: 600px) {
    .album-img {
        width: 200px;
        height: 200px;
    }

    .text {
        padding-left: 20px;
        padding-top: 140px;
    }
  }

p {
    font-size: 14px;
}
