#playback-slider {
    padding-bottom: 4vh;
    width: 90%;
    color: #fff;
}

h2 {
    color: #fff;
}
.main > .timestamp {
    padding-bottom: 4vh;
}

.track-info {
    padding-top: 5vh;
}

#header {
    padding-top: 5vh;
    display: inline-block;
}

@media screen and ((max-width: 600px) or (max-height: 630px)) {
    .track-info {
        padding-top: 50px;
    }
    #header {
        padding-top: 50px;
    }
}

html, body, #app, #app>div {
    height: 100%
}

#active {
    padding-top: 20%;
}
#login-btn {
    color: #fff;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    padding: 5px;
    text-decoration: none;
}
#login-btn:hover {
    background-color: rgb(97, 97, 97);
}
#login-btn:active {
    background-color: rgb(54, 54, 54);
}


.header-logo img {
    width: 50px;
    padding-right: 10px;
}